/*
 Copyright 2013-2019 Mark Giebler

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Author: Mark Giebler

CSS style sheet for our app
Good info about css variables and call function: http://www.htmlgoodies.com/html5/css/a-guide-to-using-css-variables.html
*/
:root {
--thinBorder-color: #599;	/* a nice blue-green */
}

body {
  background-color: #f8f8f8;
  font-family: "helvetica neue", helvetica, sans-serif;
  font-size: 12px;
  overflow: hidden;
}
#container{  top: 0;  left: 0; }
div.fourSideBorder{
  border: solid 1px var(--thinBorder-color);
  padding: 4px;
}
div.lowRightBorder{
  color: #999;
  display: block;
  border-bottom: solid 1px var(--thinBorder-color);
  border-right: solid 1px var(--thinBorder-color);
}
label {
  color: #999;
  padding: 4px;
}
.notes{color: #999;}
.serialLbl
{
  border-top: solid 1px var(--thinBorder-color);
  border-left: solid 1px var(--thinBorder-color);
  padding: 2px;
}
.serialName
{
    color: var(--thinBorder-color);
}
.statusLbl{
  color: #999;
  display: block;
  padding: 2px;
  /*  height: 44px;*/
  border: solid 1px var(--thinBorder-color);
}
.subLbl{
  color: #999;
  border-top: solid 1px var(--thinBorder-color);
  border-left: solid 1px var(--thinBorder-color);
  padding: 4px;
}

#status{
  color: #000;
  white-space: pre;
}
.quickBtnsDiv{
  color: #999;
  padding: 2px;
  /*  height: 44px;*/
  border: solid 1px var(--thinBorder-color);
}
#rxdata,
#txdata{
   /* white-space: pre;*/
  font-family: monospace;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  border: solid 1px var(--thinBorder-color);
}
#rxdata{
  /*white-space: pre;*/ /* to turn off text wrapping*/
  /*white-space: pre-wrap;*/
  color: #4f3; /* nice green for black background.*/
  background-color: #000;
  resize: none; /* no resize on rx textarea*/
  tab-size: 8;
}
#txdata{
    white-space: pre; /* turn off text wrapping*/
    color: #f63; /* orange */
    background-color: #ddd;
    width: 50em;    /* this is over ridden by ... element.style  by reSizeTxInput() at start up which fixes the minimum size allowed. */
    height: 18px;
}
input#txSend {
    vertical-align: top;
}
.dropdown-med{ /* medium size dropdown */
  color: #000;
  margin-right: 10px;
/* -webkit-appearance: none; */ /* uncomment to get rid of the drop down arrow*/
}
#port-dropdown{
  font-family: monospace;
  font-size: 13px;
}
.dropdown-none{    background-color:pink }
.dropdown-standard{ background-color: white}
.dropdown-custom{    background-color: lightskyblue; font-family: monospace; font-size: 13px;}
.dropdown-refresh{    background-color: yellow;}

.divLeft
{
	display: table-cell;
	width: 250px;
}
div.divRight
{
	display: table-cell;
}
/* add color to text of button */
input[type=button] {
    background-color: var(--thinBorder-color);
    color: #f6f94a;
   /* color: white;*/
}

/***  options page  ***/
input.quickCmds
{
    width: 9.5em;
}
input.checkbox /* for larger checkbox on options page. */
{
    width: 2em;
    height: 2em;
}
label.checkbox /* for aligning checkbox label with the box. */
{
    position: relative;
    bottom: 2px;
}
input.go-to-options
{
/*   width: 10em;
    height: 3em;*/
}
#options_status{
  color: #383;
  font-size: 24px;
}
div.optGroup{
  color: var(--thinBorder-color);
  border: solid 1px var(--thinBorder-color);
  padding: 2px;
}
div.optGroupVScroll{
  color: var(--thinBorder-color);
  border: solid 1px var(--thinBorder-color);
  padding: 2px;
    height: 82px;
    overflow-y: scroll;
}
div.optGroupBtnVScroll{
  color: var(--thinBorder-color);
  border: solid 1px var(--thinBorder-color);
  padding: 2px;
    height: 102px;
    overflow-y: scroll;
}
.number-3digit
{
  max-width: 6em;
  height: 2em;
  margin-right: 10px;
  font-size: 24px;
  padding: 10px 5px;
}
/* options  end */

/* icon:  my icon is one I came up with to put on PCB's that I designed. :-) */
.Gicon-left{
padding-right:4px;
vertical-align: text-top;/*so text to right floats to the top of image */
}
.Gicon-right{
    display: table-cell;
    width:100%;
    position:relative;
}

/* dropdown Checkboxes  */

.dropdown-check-list {
  display: inline-block;
}

.dropdown-check-list .anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 2px 30px 1px 10px;
  /*used 2nd and 4th to adjust checklist width */
  border: 1px solid #5a5a5a;
}

.dropdown-check-list .anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 5px;
  right: 10px;
  top: 20%;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
  right: 8px;
  top: 21%;
}

.dropdown-check-list ul.items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
}

.dropdown-check-list ul.items li {
  list-style: none;
}

.dropdown-check-table {
  display: table;
  /*height: 100px;*/
  /*width: 98%;*/
  /*table-layout: fixed;*/
}

.txrxConfigCell {
  position: relative;
  display: table-cell;
  /*width: 100%;*/
}

.dropdown-check-frontLayer {
  position: absolute;
  margin: auto;
  /*70px 140px 175px 140px;*/
  padding: 2px;
  background-color: orange;
  visibility: hidden;
  border: 1px solid #ccc;
  z-index: 1;
  display: block;
}
.dropdown-check-label
{
    color: #000;
}
/* END dropdown Checkboxes  */

